@import '_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: map-get($colors, primary_0);
    color: map-get($colors, primary_1);
    font-family: 'Ubuntu', sans-serif;
}


header {
    margin: 2vh 0;
    padding: 2vh 4vh;
    height: 10vh;

    h2 {
        font-size: 2rem;
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    

    .info {
        font-size: 1.4rem;
    }

    #quote {
        font-size: 2rem;
        max-width: 65ch;
        text-align: center;

        &::before,
        &::after {
            position: relative;
            font-size: 3rem;
            margin: 0 3vh;
            margin-bottom: 1vh;
        }
        &::before { content: '«'; }
        &::after { content: '»'; }
    }

    button {
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 20px 50px;
        margin: 2vh 4vh;
        border-radius: 10px;
        border: none;
        background-color: map-get($colors, secondary_0);
        border-bottom: 5px solid darken(map-get($colors, secondary_0), 10%);
        cursor: pointer;

        &:active {
            position: relative;
            top: 5px;
            border: none;
        }
    }
}