@import '_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: map-get($colors, primary_0);
    font-family: 'Ubuntu', sans-serif;
}


header {
    margin: 2vh 0;
    padding: 2vh 4vh;
    height: 10vh;

    h2 {
        font-size: 2rem;
    }
}

.welcome-screen {
    background: url(/assets/svg/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .info {
        height: 30vh;
        max-width: 60ch;
        
        & > * {
            margin: 2vh 0;
        }
    }
}

.welcome-screen,
#game-container {
    aspect-ratio: 16/9;
    width: 100vw;
    height: 100vh;
}

#game-container {
    background: url(/assets/svg/blob-scene-haikei-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    .question {
        font-size: 1.4rem;
    }

    #quote {
        font-size: 2rem;
        max-width: 65ch;
        text-align: center;

        &::before,
        &::after {
            position: relative;
            font-size: 3rem;
            margin: 0 3vh;
            margin-bottom: 1vh;
        }

        &::before {
            content: '«';
        }

        &::after {
            content: '»';
        }
    }


}

button {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 20px 50px;
    margin: 2vh 4vh;
    border-radius: 10px;
    border: none;
    background-color: map-get($colors, secondary_0);
    cursor: pointer;
    border-bottom: 5px solid darken(map-get($colors, secondary_0), 10%);

    &:active,
    &.right-answer:active,
    &.wrong-answer:active {
        position: relative;
        top: 5px;
        border: none;
    }

    &.right-answer {
        background-color: map-get($colors, win-color);
        border-bottom: 5px solid darken(map-get($colors, win-color), 10%);
    }

    &.wrong-answer {
        background-color: map-get($colors, loss-color);
        border-bottom: 5px solid darken(map-get($colors, loss-color), 10%);
    }
}

.restart {
    position: absolute;
    display: none;

    &.show {
        display: block;
        position: absolute;
    }
}

footer {
    background-color: map-get($colors, primary_1);
    color: #FFF;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 1vh;
    }
}